.navContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: white;
    
}
.firstNav{
    width: 100%;
    display: flex;
    background-color: #000000;
    justify-content: space-between;
    align-items: center;
}
.secondNav{
    display: none;
}

  
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav ul li{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
}
nav ul li p{
    display: none;
    color: white;
    text-decoration: none;
   
}
.navIcon{
    width: 1.3rem;
    fill: white;
    margin: auto;
    
}
.navIcon:hover{
    cursor: pointer;
    background-color: #ffffff;
    fill: #000000;
    width: 3rem;
    padding: .7rem;
    border-radius: 50%;
}
.profile{
    color: #000000;
}
.profile svg{
    width: 1.3rem;
    fill: rgb(0, 0, 0);
    margin: auto;
}

.dropdown{
    width: rem;
    height: 10rem;
   
    
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1rem;
  
}
.notAuserBox{
    display: flex;
   
}
.text{
    color: black;
    z-index: 1000;
    position: absolute;
}

.mainFormbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #f5f5f5;
}
.formlogo{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.formtitle h2{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
}
.formtitle p{
    font-size: 1rem;
    color: #7a7a7a;
}
.flogo{
    width: 2.5rem;
    fill: #000000;
    margin: auto;
}
.flogo2{
    width: 2.5rem;
    fill: #ffffff;
    margin-left: 1rem;
}
.formContainer{
    
   width: 100%;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: .9rem;
}
.formdisplay{
    display: none;
}
.cardbox{
    width: 95%;
    margin: 0 auto;
    margin-top: 2rem;
}
form{
    display: grid;
    width: 100%;
    margin: auto;
    
}
Input{
    margin-bottom: 1.5rem;
}
.toLogin{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.toLogin a:hover{
    cursor: pointer;
   
}



/* HeroSection styles */

.MainContainerFront{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
}
.HeroSection{
    z-index: 0;
}
.itemText h2{
   
   text-align: center;
    margin-top: .7rem;
    color: rgb(134, 132, 132);
   
}
.itemText p{
    display: none;
}

.caraousel{
    display: block;
}

/* body section */
.card-margin {
    margin-bottom: 1rem;
  }
.bodysection{
    width: 90%;
    padding: 1rem;
}
.main_cardbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card_image{
    
    width: 100%;
}
.picbox{
    width: 100%;
   
       
}
.picTittle{
    position: absolute;
    top: 30%;
    left: 34.5%;
    color: white;
    font-size: 2rem;
   
}
.card_button{
    margin-top: .9rem;
}
.cardbtn{
    background-color: #000000;
    color: white;
}


.card_text{
    padding: 1rem;
}
.tittle{
    font-size: 1.2rem;
    color: #000000;
    margin-bottom: .5rem;
}
.card_description{
    font-size: 1rem;
    color: #6a6a6a;
}
.tableHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.tableContainer{
    display: flex;
    flex-direction: column;
    width: 24rem;
    padding: 1rem;
}
.table{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    padding: .7rem;
}
.table li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    height: 3rem;
    text-align: left;
    border-bottom: 1px solid #919191;
}
/*Footer  styles*/

.searchIcon{
    width: 1.1rem;
    fill: #faf9f9;
}
.searchbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
   
   
}
.searchbar input{
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    margin-top: 1rem;
    background-color: #e4e4e4;
}
.searchbar button{
    background-color: #000000;
    color: white;
    height: 3.2;
    margin-bottom: .5rem;
   
}



/* Tablet styles */
@media (min-width: 641px) and (max-width: 850px) {
    body {
        font-size: 18px; /* Increase font size for tablets */
        
    }

    /* Additional tablet-specific styles */
    .container {
        max-width: 750px; /* Limit container width */
    }
}

/* Small Desktop styles */
@media (min-width: 855px) and (max-width: 1280px) {
    body {
        font-size: 20px; /* Increase font size for small desktops */
      
    }
    .cardbox{
        max-width: 70%;
    }
    .formdisplay{
        display: flex;
        width: 50%;
        padding: 1rem;
    }
    .formContainer{
        width: 50%;
    }

    /* Additional small desktop-specific styles */
    .container {
        max-width: 900px; /* Limit container width */
    }
}

/* Medium Desktop styles */
@media (min-width: 1281px) {

    .secondNav{
        position:absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: rgb(87, 87, 87);
        background-color: rgba(216, 212, 212, 0.212);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(10px);
        z-index: 1111;
    }
    body {
        font-size: 1rem; /* Increase font size for medium desktops */
       
    }
    .cardbox{
        max-width: 70%;
    }
    .formdisplay{
        display: flex;
        width: 50%;
        padding: 1rem;
    }
    .formContainer{
        width: 50%;
    }
    form{
        max-width: 70%;
    }
    .caraousel{
        display: flex;
        
        height: 35rem;
        overflow: hidden;
    }
    .itemText{
        position: absolute;
        width: 40rem;
        padding: 1rem;
        text-align: left;
       
        
        
        top: 10rem;
    }
    .itemText h2{
        font-size: 3.5rem;
        color: #ffffff;
    }
    .itemText p{
        font-size: 1rem;
        color: #ffffff;
    }
    .herobutton{
        margin-top: 1rem;
    }
    .heropic{
        filter: brightness(70%);
        z-index: -1;
        
      
        
    }
    .absolute{
        z-index: 1050;
       
    }
    .bodysection{
        width: 90%;
        padding: 1rem;
    }
    .main_cardbody{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .card_image{
        width: 40%;
    }
    .card_text{
        padding: 1rem;
    }
    
   

    /* Additional medium desktop-specific styles */
    .container {
        max-width: 1100px; /* Limit container width */
    }
}

